.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div */

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}                           

.img{
    border-radius: 10px;
}

.copete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.article-footer{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
