/* Container principal del artículo */
.article-detail {
    padding: 30px 60px 30px 30px;
    margin: 20px 0px 20px 50px;
    max-width: 1200px; /* Aumento del ancho máximo del contenedor */
    background-color: #f9f9f9; /* Fondo claro para el artículo */
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    color: #333; /* Texto oscuro */
    display: flex;
    flex-direction: column;
    gap: 0px; /* Espaciado entre los elementos */
}

/* Título del artículo */
.article-detail h1 {
    font-size: 2.5rem; /* Tamaño del texto del título aumentado */
    color: #333; /* Color del texto del título */
    margin-bottom: 0px;
}

/* Abstracto del artículo */
.article-detail h4 {
    font-size: 1.5rem; /* Tamaño del texto del abstracto aumentado */
    color: #666; /* Gris para el abstracto */
    margin-bottom: 0px;
}

/* Contenido del artículo */
.article-content {
    font-size: 1rem;
    line-height: 1.8; /* Aumento del interlineado para mejor legibilidad */
    color: #444; /* Gris oscuro para el contenido */
}

/* Imagen del artículo */
.article-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados en la imagen */
    margin-bottom: 20px;
}

/* Pie de página del artículo */
.article-footer {
    padding-top: 20px;
    border-top: 1px solid #ddd; /* Línea separadora gris claro */
    color: #666; /* Gris para el texto del pie de página */
}

.article-footer p {
    font-size: 0.875rem;
    margin: 10px 0;
}

/* Estilo para el contenido HTML sanitizado */
.article-content p {
    margin-bottom: 20px; /* Espaciado aumentado entre párrafos */
}

.article-content p:last-child {
    margin-bottom: 0;
}
