.articles-data-container {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    padding-top: 50px;
    text-align: center;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

.aestetic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.search-bar:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

.search-button {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.article-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.article-card h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.abstract {
    margin: 7px 0;
    color: #ff6347;
    font-style: italic;
}

.article-image {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.article-image:hover {
    transform: scale(1.05);
}

.load-more-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.load-more-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
